.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  justify-items: center;
}

.card {
  width: 400px;
  height: 600px;
  border: 1px solid #ccc;
  border-radius: 14px;
  background-color: white;
  text-align: center;
  overflow: hidden;
}

.book-card {
  background-color: lightgreen;
}

.card img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: 14px 14px 0 0;
}

.card h2 {
  margin: 3px;
  font-size: 1.5rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

main {
  padding: 20px;
}

select, input {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
  font-size: 1rem;
}